.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}

.image-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: adds a dark overlay */
  color: pink;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out;
}