<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pisos</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <div #imageTrack id="image-track" (keydown)="trackHandleKeys($event)" tabindex="0">
    <div *ngFor="let image of imagesData; let i = index;">
      <img #image class="image" tabindex="-1"
        [src]="image.src" 
        (click)="clickImage(i)" 
        draggable="false" unselectable="on">

      <div *ngIf="image.expanded" class="image-info">
        <h1 style="color: pink;">Chat</h1>
      </div>
    </div>
  </div>
</body>
</html>
