<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pisos</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <div #imageTrack id="image-track" (keydown)="trackHandleKeys($event)" tabindex="0">
    <div *ngFor="let image of imagesData; let i = index;">
      <div class="image-container">
        <img #image class="image" tabindex="-1"
          [src]="image.src" 
          (click)="clickImage(i)" 
        draggable="false" unselectable="on">
        <div class="img-text">
          <h1>Apartamento #{{i}}</h1>
          <p>C/Emperatriz Eugenia n{{i+50}}</p>
        </div>
        <div *ngIf="image.expanded" class="overlay-text" (click)="clickImage(i)">
          <p>C/Emperatriz Eugenia n{{i+50}}</p>
          <p>C/Emperatriz Eugenia n{{i+50}}</p>
          <p>C/Emperatriz Eugenia n{{i+50}}</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
